<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pluslab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CitasEditarActivity"></activity>
        <activity android:name=".CitasRegistrarActivity" />
        <activity android:name=".CitasPacienteActivity" />
        <activity android:name=".ServiciosDetallesActivity" />
        <activity android:name=".ServiciosPacienteActivity" />
        <activity android:name=".ServiciosEditarActivity" />
        <activity android:name=".ServiciosRegistrarActivity" />
        <activity android:name=".ServiciosAdminActivity" />
        <activity android:name=".MisdatosEditarPacienteActivity" />
        <activity android:name=".MisdatosEditarAdminActivity" />
        <activity android:name=".MisdatosPacienteActivity" />
        <activity android:name=".MisdatosAdminActivity" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".RegistrarPacienteActivity" />
        <activity android:name=".InicioSesionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>